.form {
  width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.form .input {
  width: 100%;
}

.form .button {
  /* width: 20%; */
  width: 75px;
  float: right;
}

@media (max-width: 768px) {
  .form {
    width: 300px;
  }
}
